install/
*.o
*.so
.vscode/

# Build artifacts
Makefile
Makefile.in
config.h
config.h.in
config.log
config.status
configure
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
_codeql_detected_source_root
INSTALL
.deps/
*.Po
*.Plo
